body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(180deg, #87ceeb, #b0e0e6);
}

body::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 10%;
  width: 100px;
  height: 100px;
  background: radial-gradient(
    circle,
    #ffdd00 0%,
    #ffcc00 70%,
    transparent 100%
  );
  border-radius: 50%;
  box-shadow: 0 0 80px rgba(255, 223, 0, 0.5);
}

.heading {
  font-size: 3rem;
  color: white;
  margin-top: 150px;
  margin-bottom: 40px;
  font-family: cursive, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.slider-container {
  width: calc(100% - 40px);
  max-width: 1200px;
  height: 50%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  margin-top: 20px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slider-item {
  font-family: cursive, sans-serif;
  flex: 0 0 30%;
  margin: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  color: #fff4f4;
  height: 100%;
  aspect-ratio: 1 / 1;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.slider-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(196, 173, 173, 0.7);
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
  font-size: 24px;
  opacity: 0;
}

.slider-container:hover .slider-button {
  opacity: 1;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  background-color: rgba(70, 59, 59, 0.414);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  body::before {
    top: 5%;
    right: 5%;
    width: 80px;
    height: 80px;
  }

  .heading {
    font-size: 2rem;
    margin-top: 120px;
  }

  .slider-container {
    width: calc(100% - 20px);
    height: auto;
    padding: 5px;
  }

  .slider-item {
    flex: 0 0 100%;
    margin: 10px 0;
    height: auto;
  }

  .slider-button {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }
}
